@using Lab_WebBanSach.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BookStore||VHP(Admin)</title>
    <!-- Bootstrap Core CSS -->

    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->



    <link href="~/Content/mainStyle.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Admin")" style="color: white; font-weight: bold;">BookStore VHP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="width: 80%">
                    <li>
                        @Html.ActionLink("QUẢN LÝ SÁCH", "Sach", "Admin")
                    </li>
                    @if (Session["TaiKhoanAdmin"] != null)
                    {
                        Admin ad = (Admin) Session["TaiKhoanAdmin"];

                        <li class="dropdown" style="float: right;">
                            <a href="#" class="dropbtn" id="365">Xin Chào : @ad.UserAdmin</a>
                            <div class="dropdown-content">
                                <a href="@Url.Action("Logout", "Admin")">Đăng Xuất</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; VHP</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
