@model Lab_WebBanSach.Models.SACH

@{
    ViewBag.Title = "ThemSach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm Sách Mới</h2>

@using (Html.BeginForm("ThemSach","Admin",FormMethod.Post,new {@enctype="multipart/form-data"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Tên Sách</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tensach, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tensach, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Giá Bán</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Giaban, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mô Tả</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Ảnh Bìa</label>
            <div class="col-md-10">
                <input type="file" name="fileupload" />
                @ViewBag.ThongBao
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ngày Cập Nhật</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ngaycapnhat, new { htmlAttributes = new { @class = "form-control",@Type="date" } })
                @Html.ValidationMessageFor(model => model.Ngaycapnhat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Số Lượng Tồn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Chủ Đề</label>
            <div class="col-md-10">
                @Html.DropDownList("MaCD", null, new { @style = "width:100%;border-radius: 5px;", @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">Nhà Xuất Bản</label>
            <div class="col-md-10">
                @Html.DropDownList("MaNXB",null,new {@style= "width:100%;border-radius: 5px;" , @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo Mới" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
