@model Lab_WebBanSach.Models.KHACHHANG

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<table align="center">
    <h2 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px;">
            <td>Họ Tên Khách Hàng :</td>
            <td>
                @Html.TextBox("HoTenKH")
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td>Tên Đăng Nhập :</td>
            <td>
                @Html.TextBox("TenDN")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td>Mật Khẩu :</td>
            <td>
                @Html.Password("MatKhau")
                @ViewData["Loi3"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td>Nhập Lại Mật Khẩu :</td>
            <td>
                @Html.Password("MatKhauNhapLai")
                @ViewData["Loi4"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td>Điện Thoại :</td>
            <td>
                @Html.TextBox("DienThoai")
                @ViewData["Loi5"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td>Địa Chỉ :</td>
            <td>
                @Html.TextBox("DiaChi")
                @ViewData["Loi6"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td>Email :</td>
            <td>
                @Html.TextBox("Email")
                @ViewData["Loi7"]
            </td>
        </tr>
        <tr style="height:40px;">
            <td>Ngày Sinh :</td>
            <td>
                @Html.TextBox("NgaySinh",null,new { type="date"})
            </td>
        </tr>
        <tr style="height:40px;">
            <td></td>
            <td>
                <input type="submit" value="Đăng Ký"/>
             </td>
        </tr>
    }
</table>
